@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: lato;
}
.btn{
	width: 160px;
	height: 55px;
	background-color: rgba(0,0,0,1.00);
	color: white;
	border: 1px solid rgba(255,0,4,1.00);
	border-radius: 10px;
	font-size: 22px;
	line-height: 54px;
	text-align: center;
	box-shadow: 0px 0px 4px 2px red;
	margin: 20px auto;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s;
}
.btn:active{
	background-color: #FD3700;
}
#anonymous{
	width: 300px;
	height: 200px;
	background-color: rgba(255,182,0,1.00);
	border: 1px solid orange;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	line-height: 198px;
	box-shadow: 0px 0px 8px 4px orange;
	margin: 150px auto;
	animation: aniset 1.5s 1s infinite ease-in-out;
	display: none;
}
@keyframes aniset{
	0%{
		transform: rotate(0deg);
	}
	20%{
		transform: rotate(100deg);
		background-color: #FF8600;
	}
	40%{
		transform: rotate(200deg);
		background-color: #E0FF00;
	}
	60%{
		transform: rotate(360deg);
		background-color: #02FF00;
	}
	80%{
		transform: rotate(200deg);
		background-color: #00F3FF;
	}
	100%{
		transform: rotate(0deg);
		background-color: #FF0057;
	}
}
